<div id="fb-pictures"></div>
<script type="text/text" id="fb-friend">
    <div id="fbf[id]">
        <img src="https://graph.facebook.com/[id]/picture" title="[name]"/>[name]
        <button onclick="sendMessageJs([id])">{{ 'fb.friends.invite'|trans({}, 'EphpACL') }}</button>
    </div>
</script>
<script type="text/text" id="fb-reg-friend">
    <div id="fbf[id]">
        <img src="https://graph.facebook.com/[id]/picture" title="[name]"/>[name] - [slug]
        <button onclick="sendMessageJs([id])">{{ 'fb.friends.message'|trans({}, 'EphpACL') }}</button>
        <button onclick="sendInviteJs([id])">{{ 'fb.friends.invite'|trans({}, 'EphpACL') }}</button>
    </div>
</script>