<div id="fb-pictures"></div>
<script type="text/text" id="fb-picture">
    <div id="fbp[id]">
        <a href="[url_big]" target="_blank"><img src="[url_tmb]" title="[name]"/></a>
    </div>
</script>